<div class="navigation">
	<div>
		<a href="/">
			<img src="/images/sb_logos/logo_with_name.svg" alt="stake benefit">
		</a>
	</div>
	<nav role="navigation" id="nav">
		{% for link in site.links %}
			<a href="{{ link.url }}" class="{% if link.url == page.url %} active{% endif %}">{{ link.title }}</a>
		{% endfor %}
		<a href="https://t.me/stakebenefit" class="icon" target="_blank">
			<img src="/images/font_awesome/telegram.svg" alt="stake benefit">
		</a>
		<a href="mailto:service@stakebenefit.com" class="icon" target="_blank">
			<img src="/images/font_awesome/envelope.svg" alt="mailto">
		</a>
	</nav>
</div>
