.wrapper-card {
  margin: 10px;

  a {
    text-decoration: none;
    color: $hilight-color;
  }
}

.card {
  background-color: #fbfcfd;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  margin: 10px;
  padding: 45px 0 30px;
  position: relative;
  width: 250px;

  &:hover {
    bottom: 0.25rem;
    box-shadow: 0.25rem 0.25rem 0.625rem -0.25rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition-duration: .2s;
  }

  &-logo {
    height: 110px;
    margin: 0 auto 50px;
    width: 110px;

    img {
      border-radius: 50%;
      width: 100%;
    }

    &-page {
      margin: 70px auto;

      @media screen and (max-width: 750px) {
        margin: 30px auto;
      }
    }
  }

  &-link {
    font-size: 1.5rem;
    text-align: center;
  }
}

.member {
  margin-top: 100px;
  text-align: center;

  &-photo {
    img {
      border-radius: 50%;
      width: 200px;
    }
  }

  &-title {
    font-size: 1.5rem;
    margin: 40px 0 7px;
  }

  &-subtitle {
    color: $hilight-color;
    font-size: 1.1rem;
  }

  &-social {
    img {
      cursor: pointer;
      margin: 13px;
      width: 40px;
    }

    svg {
      &:hover {
        fill: wheat;
      }
    }
  }

  &-former {
    font-size: 1.45rem;
    font-weight: 500;
    margin: 120px 0 -30px;
    text-align: center;
  }
}
