@font-face {
  font-family: 'Armstrong';
  src: url("../fonts/Armstrong.otf");
}

$base-font: sans-serif;
$hilight-font: 'Armstrong', sans-serif;

$hilight-color: #000080;
$sub-color: #999999;
$page-color: #eaeafa78;
